body{
	-webkit-font-smoothing: antialiased;
	font-family: 'Noto Sans JP', sans-serif;
  background: #d8d8d8;
	font-weight:400;
	height: 100%;
  padding: 0;
  margin: 0;
	width: 100vw;
	overflow-x: hidden;
}
span{
	&.lineBreak{
		display: inline;
		@media (min-width: 1024px) {
			display: none;
		}
	}	

}

p{
  color: #000;
	font-size: 15px;
	line-height: 27px;
}

h1{
	font-size: 40px;
	font-weight: 400;
}

h2{
	font-size: 25px;
	.japaneseTitle{
		font-size: 17px;
	}
}
.insta_cont{
	height: 22px;
}
.insta_logo{
	width: 24px;
	@media (min-width: 1024px) {
		width: 20px;
	}

	margin-left: 4vw;
	// margin-left: 43px;
	transition: all 0.5s ease;
	fill:#000;
	&:hover{
		svg{
			fill:#4C4C4C;
		}
	}
}

.obs{
	width: 100%;
	// background-color: #f3f3f3;
	box-sizing: border-box;
	font-size: 9.4px;
	margin-top: 20px;
	color: #4C4C4C;
	padding-left: 1vw;
	margin-bottom: 80px;
	@media (min-width: 1024px) {
		padding-left: 6vw;
	}


	ul{
		padding: 0 30px;

		li{
			font-weight: 300;
			color: #4c4c4c;
			font-size: 13px;
			line-height: 27px;
			margin-bottom: 10px;
			list-style-type:none;
			font-weight: 400;
			&:last-child{
				margin-bottom: 0;
			}
			.is-red{
				color: #AC2424;
			}

		}
	}
}

.reservation_btn{
	color: #fff;
	text-decoration:none;
	background-color: #212121;
	padding: 10px 40px;
	border-radius: 10px;
}

.station_info_cont{

	padding: 13px;
	font-weight: 400;
	color: #c4c4c4;
}

.comment_txt{
	font-weight: 300;
	display: block;
	margin-left: 20px;
	font-family: sans-serif;
	font-size: 17px;
	margin-top: 33px;
	line-height: 29px;
	padding: 0 2px;
	color: #4c4c4c;
  width: 83%;
	.is-red{
		color:#4c4c4c;
		font-weight: 300;
		display: inline-block;
		border-bottom: 1px #AC2424 solid;
    line-height: 1.2;
	}
	@media (min-width: 1024px) {
		margin-left: 0;
	}
}

.header_msg{
	font-size: 12px;
	margin-top: 13px;
		&.red_small{
			color:#810f0f;
			font-size: 10px;
		}

}

.icons_cont{
	display: flex;
	flex-direction: row;
	margin-top: 73px;
  justify-content: flex-start;
	@media (min-width: 1024px) {
		margin-top: 33px;
		justify-content: flex-start;
	}
	.line_btn_cont{
		width: 46px;
		height:46px;
		margin-left: 40px;

		.line_btn{
			width: 100%;
			height:100%;
		}
	}
}

.subtitle{
	color:#4c4c4c;
  margin-top: 0;
	font-weight: normal;
}

.small_font{
	font-size: 13px;
	vertical-align: super;
	color: #AC2424;
  font-weight: 300;
}

.has-line{
	border-bottom: 1px dashed #d3d3d3;
}

.is-center{
	display: flex;
	align-items: center;
}

.is-column{
	display: flex;
	flex-direction: column;
}

.is-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.space-between{
	justify-content: space-between;
}

.space-around{
	justify-content: space-around;
}

.space-evenly{
	justify-content: space-evenly;
}

.l-frame{
		width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: content-box;
    background: #fff;
    overflow: hidden;
		position: relative;
	.header{
		left: auto;
    -webkit-box-pack: justify;
    max-width: 1280px;
    padding: 34px 6vw;
		display: flex;
		align-items: center;
		padding: 0 9vw;
		font-size: 18px;
		box-sizing: border-box;
		justify-content: space-between;
		height: 80px;

		@media (min-width: 1024px) {
			height: 120px;
			justify-content: space-between;
		}

		.logo{
			@media (min-width: 1024px) {
				flex:1;
			}
			img{
				width:100px;
				@media (min-width: 1024px) {
					width:130px;
				}
			}
		}
		.menu_item{
			display: none;
			@media (min-width: 1024px) {
				display: block;
				margin-left: 4vw;
				a{
					text-decoration: none;
					color: black;
					&:hover{
						color: #4c4c4c;
					}
				}
			}

		}

	}
	.full_image{
		object-fit: cover;
		height: 350px;
		@media (min-width: 528px) {
			height: calc(100vh - 93px);
			width: 100vw;
		}
	}

	.big_title{
    margin: 30px 0 40px 0;
		color: #4c4c4c;
    text-align: center;
		color: #000000;
		text-transform: uppercase;
		font-weight: lighter;
		@media (min-width: 1024px) {
			margin-top: 50px;
		}

	}

	#aboutme{
		.aboutme_cont{
			display: flex;
			flex-direction: column;
			padding: 100px 0;
			padding: 10px 0;
			@media (min-width: 1024px) {
				padding: 40px 0 100px;
				flex-direction: row;
				padding-left: 3vw;
			}
			// justify-content: center;
			align-items: flex-start;
			.profile_pic{
				width: 419px;
				height: 290px;
				margin: 0 auto;
				object-fit: cover;
				filter: saturate(0.8) contrast(1.15);

				@media (min-width: 1024px) {
					width: 35%;
					height: 356px;
					margin: 0;
					border-radius: 10px;
				}
			}

			.infos{
				margin: 0 auto;
				width: 80%;
				margin-top: 10px;
				.name_j{
					font-size: 24px;
					font-weight: 400;
					color: #1c1c1c;
					margin-bottom: 30px;
				}

				@media (min-width: 1024px) {
					width: 50%;
					margin-top: 0;
				}
				> p{
					line-height: 29px;
			    font-weight: 300;
					font-weight: normal;

					@media (min-width: 1024px) {
						margin: 0;
						width: 90%;
    				line-height: 26.8px;
					}
				}
				.info{
					display: flex;
					flex-direction: row;
				}
			}
		}
	}

	#price, #access{
		margin-top: 50px;
		width: 85%;
		margin: 0 auto;
		@media (min-width: 1024px) {
			width: 100%;
		}
	}
	#price{
		margin-top: 40px;
	}

	.price_cont{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 0;
		&.last-row{
			margin-top: 0px;
			@media (min-width: 1024px) {
				margin-top: 100px;
			}
		}

		@media (min-width: 1024px) {
			flex-direction: row;
			justify-content: space-evenly;
		}

		align-items: center;

		&.align-baseline{
			align-items: baseline;
		}




		.service{
			width: 100%;
			margin-bottom: 40px;
			&.is-last{
				margin-bottom: 10px;
			}
			@media (min-width: 1024px) {
				width: 40%;
				margin-bottom: 0px;
			}
			p{
				.small-mobile{
					font-size: 0.8rem;
				}
			}
		}
	}
	#access{
		background-color: #ececec;
		width: 100%;
		.address_cont{
			align-items: flex-start;
			flex-direction: column;
			width: 100%;
			// flex-direction: column-reverse;
			@media (min-width: 1024px) {
				flex-direction: row;
				justify-content: center;
				align-items: flex-end;
			}

			.title{
				font-size: 1.4rem;
				color: #000;
			}
			.telephone{
				text-decoration: none;
				color: #4C4C4C;
				font-weight: 400;
		    display: block;
				font-size: 15px;
				font-weight:500;
			}

			.station_info{
    		line-height: 18px;
				margin: 0;
				font-weight:500;
				font-size: 13px;
			}
			.address{
				width: 90vw;
				margin: 0 auto 0 auto;
				font-weight:500;
				padding: 50px 0;
				text-align: center;

				.address_txt {
					font-size: 13px;
					line-height: 9px;
					margin: 0 0 10px 0;
				}
				@media (min-width: 1024px) {
					width: 26%;
					margin: 0;
					margin-left: 40px;
				}
				.holiday{
					line-height: 0px;
					font-size: 13px;
					margin-top: 20px;
					.is-red{
						color: #C01816;
					}
				}
			}

			.subway_logo{
				margin-right: 10px;
				width: 23px;
				padding-top: 7px;
				img{
					width: 100%;
				}
			}

			.map{
				width: 100vw;
		    height: 380px;
				@media (min-width: 1024px) {
					width: 30%;
			    height: 323px;
			    margin: 21px 0 0 0;
				}

			}
		}
	}

	#schedule{
    padding: 0;
		background-color: #F2F2F2;
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: none;
		@media (min-width: 1024px) {
    	margin: 0 auto;
			display: block;
		}
		.aircalendar{
			width: 90%;
			height: 1000px;

			@media (min-width: 1024px) {
				width: 100%;
				height: 1250px;

			}

		}
		.calendar_info_cont{
			display: flex;
			align-items: flex-end;
			.calendar_txt{
				margin-top: 0;
				margin-bottom: 30px;
				margin-left: 20px;
				margin-right:10px;
				padding-right: 10px;
				font-size:13px;
				&.info{
					display: block;
					background-color: #F4F4F4;
					padding: 10px 20px;
					display: block;
					box-sizing: border-box;
					width: 230px;
					font-size: 14px;
					line-height: 24px;
					font-weight: 400;
				}
				.is-red{
					display: block;
					color:#AC2424;
					font-weight: 400;
					margin-bottom: 3px;
				}

				@media (min-width: 1024px) {
					margin-left: 0;
				}
			}
		}
		.calendar_iframe{
			width: 102%;
			margin-left: -4px;
	    height: 50vh;
			@media (min-width: 1024px) {
				border-width: 0;
				width: 100%;
			}
		}
	}



	#instagram{
		width: 100%;
    margin: 0 auto;
		@media (min-width: 1024px) {
			width: 90%;
		}
	}

	.footer{
		font-size: 13px;
		margin: 0 auto;
		text-align: center;
    margin: 30px 0 30px 0;
		@media (min-width: 1024px) {
	    margin: 30px 0 30px 0;
		}

	}
}
